<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Interview</title>
</head>
<body>

<h1 th:text="${vacancy.title}"></h1>

<form th:action="@{/candidate/vacancy/{id}/submit(id=${vacancy.id})}"
      method="post">

    <div th:each="q : ${questions}">

        <h3 th:text="${q.questionText}"></h3>

        <label>
            <input type="radio"
                   name="answers"
                   value="да"
                   required>
            Да
        </label>

        <label>
            <input type="radio"
                   name="answers"
                   value="нет">
            Нет
        </label>

        <br><br>

    </div>

    <button type="submit">
        Завершить собеседование
    </button>

</form>

</body>
</html>